* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex-box;
}
header div.decorationBar {
  background-color: gray;
  height: 5px;
  margin: 5px 0 0 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 3px 10px 0 10px;
}
header nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.4s all ease;
}
header nav a:hover {
  background-color: gray;
  color: white;
}
header nav img {
  height: inherit;
  transition: all 0.6s ease-in-out;
}
header nav img:hover {
  transform: rotate(1000deg) scale(1.4);
}
header nav div {
  border: 1px dotted gray;
  padding: 2px;
  border-radius: 2px;
  background-color: black;
}

section.infoBubble {
  display: flex;
  width: 68vw;
  border-radius: 10px;
  padding: 15px;
  background-color: whitesmoke;
  flex-direction: column;
  transition: all 0.6s ease;
}
@media (max-width: 500px) {
  section.infoBubble {
    max-width: 80vw;
  }
}

section.infoBubble:hover {
  box-shadow: 5px 5px 10px 0 gray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

main article {
  border: 1px solid #c6d4d4;
  border-radius: 10px 10px 0 0;
  margin: 30px 0 0 0;
  width: 70vw;
  min-height: 87vh;
}
@media (max-width: 600px) {
  main article {
    width: 90vw;
  }
}
main article div#myapp {
  padding: 10px;
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px 10px 0 0;
  height: 50px;
  align-items: center;
}
main article div#myapp button {
  width: 50px;
  height: 40px;
  color: green;
  border-radius: 0 7px 7px 0;
  background-color: white;
  transition: all 0.4s ease;
  border-left: 4px solid whitesmoke;
}
main article div#myapp button:hover {
  background-color: #64c864;
  box-shadow: 0 1px 1px 0 gray;
  color: white;
}
main article div#myapp input {
  height: 40px;
  width: 80%;
  padding: 0 0 0 10px;
  font-size: 17px;
  border-radius: 7px 0 0 7px;
  transition: all 0.3s ease;
}
main article div#myapp input:hover {
  box-shadow: 0px 5px 5px 0 gray;
}
main article div#myapp input:focus {
  box-shadow: 0px 5px 5px 0 gray;
}

<<<<<<< HEAD
=======
.taskContainer {
  background-color: #65ff93;
  height: 50px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 5px 0;
  transition: all 0.3s ease;
}
.taskContainer div {
  width: 70%;
  text-align: center;
}
@media (max-width: 800px) {
  .taskContainer {
    height: 90px;
    border-radius: 10px;
  }
}

.taskContainer:hover {
  box-shadow: 1px 0px 0 2px gray;
}

.delButton {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
}

.delButton:hover {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #e7452f;
  box-shadow: 3px 0px 10px 0 gray;
  font-size: 15px;
}

.check {
  font-size: 40px;
}

.timeInput {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3px 15px 3px 15px;
  box-shadow: 2px 2px 2px 1px gray;
  transition: all 0.6s ease;
}

.timeInput:hover {
  transform: scale(1.2);
}

* {
  border: 0;
  margin: 0px;
  border-box: box-sizing;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

>>>>>>> 4672feddf844ab5f640e293149e34be66d39df2f
/*# sourceMappingURL=main.css.map */
