@import variables

section.infoBubble
    display: flex
    max-width: 60vw
    border-radius: 10px
    padding: 10px
    background-color: whitesmoke
    flex-direction: column
    @media ( max-width: 500px )
        max-width: 80vw


main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 10px 0 10px 0