@import variables
header
    background-color: $headerBackground
    display: flex-box
    div.decorationBar
        background-color: gray
        height: 5px
        margin: 5px 0 0 0
    nav
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
        padding: 3px 10px 0 10px
        img
            height: inherit
        div
            border: 1px dotted gray
            padding: 2px
            border-radius: 2px
            background-color: black