*
    border: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
<<<<<<< HEAD
    
@import variables
@import 'header.sass'
@import 'body.sass'
=======
    //border: 1px dotted blue
    outline: none
>>>>>>> 4672feddf844ab5f640e293149e34be66d39df2f
